<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Become an admin</title>
</head>
<body>
    <section>
        <h2>Enter the code to become a admin</h2>
        <form method="POST">
            <label for="admin">Admin: </label>
            <input id="admin" name="admin" type="text" placeholder="become admin" autocomplete="off">
            <button>Submit</button>
        </form>
    </section>
</body>
</html>