<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
  
    <div class="site-title">
        <p><a class="head-links" href="/">Members Only</a></p>
    </div>
    
    <ul>
        <li><a class="head-links" href="/catalog/shoes">Shoe List</a></li>
        <li><a class="head-links" href="/catalog/seller">Seller List</a></li>
        <li><a class="head-links" href="/catalog/brand">Brand List</a></li>
        <li><a class="head-links" href="/catalog/shoeinstance">Shoe Instances</a></li>
    </ul>
  
</header>
